.main1 {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1)
}

.main1:not([data-booted=true]) {
    transition: none !important
}

.main1_1 {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative
}

.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:960px) {
    .container {
        max-width: 900px
    }
}

@media(min-width:1264px) {
    .container {
        max-width: 1185px
    }
}

@media(min-width:1904px) {
    .container {
        max-width: 1785px
    }
}

.container #Typewriter {
    color:var(--s-color-primary);
}

.ele {
  max-width: 100%;
  padding: 0 0;      /* 默认 xs 断点（<600px）时的内边距 */
}

/* 当屏幕宽度 ≥ 600px 时（即非 xs 断点） */
@media (min-width: 600px) {
  .ele {
    padding: 0 12px; /* sm 及以上断点的内边距 */
  }
}








#page-index .topics-wrapper {
    margin-bottom: 24px
}

#page-index .topics-wrapper {
    position: relative
}

#page-index .topics-wrapper .arrow-left,
#page-index .topics-wrapper .arrow-right {
    position: absolute;
    top: calc(50% - 18px);
    background-color: #fff
}

@media (max-width:599.9px) {

    #page-index .topics-wrapper .arrow-left,
    #page-index .topics-wrapper .arrow-right {
        display: none
    }
}

/*.theme--dark #page-index .topics-wrapper .arrow-left,*/
/*.theme--dark #page-index .topics-wrapper .arrow-right {*/
    /*background-color: #424242*/
/*}*/

#page-index .topics-wrapper .arrow-left {
    left: -10px
}

#page-index .topics-wrapper .arrow-right {
    right: -10px
}

#page-index .topics-wrapper .topics {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}

#page-index .topics-wrapper .topics::-webkit-scrollbar {
    width: 0;
    height: 0
}

@media (min-width:600px) {
    #page-index .topics-wrapper .topics {
        padding: 0;
        overflow: hidden
    }
}

#page-index .topics-wrapper .mc-topic-item {
    position: relative;
    display: inline-block;
    float: none;
    box-sizing: border-box;
    width: 250px;
    padding-right: 4px;
    padding-left: 4px
}

#page-index .topics-wrapper .mc-topic-item:first-child {
    padding-left: 8px
}

#page-index .topics-wrapper .mc-topic-item:last-child {
    padding-right: 8px
}

@media (min-width:600px) {
    #page-index .topics-wrapper .mc-topic-item {
        width: 33.333333%;
        padding-right: 8px !important;
        padding-left: 8px !important
    }
}

@media (min-width:1024px) {
    #page-index .topics-wrapper .mc-topic-item {
        width: 25%
    }
}

#page-index .topics-wrapper .mc-topic-item .item {
    margin-bottom: 0
}



#page-topics .item-inner,
#page-users .item-inner {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%
}

@media (max-width:360px) {

    #page-topics .item-inner,
    #page-users .item-inner {
        width: 100%;
        padding-right: 8px;
        padding-left: 8px
    }
}

@media (min-width:360px) {

    #page-topics .item-inner:nth-child(odd),
    #page-users .item-inner:nth-child(odd) {
        padding-right: 4px;
        padding-left: 8px
    }

    #page-topics .item-inner:nth-child(2n),
    #page-users .item-inner:nth-child(2n) {
        padding-right: 8px;
        padding-left: 4px
    }
}

@media (min-width:600px) {

    #page-topics .item-inner,
    #page-users .item-inner {
        width: 33.333333%;
        padding-right: 8px !important;
        padding-left: 8px !important
    }
}

@media (min-width:1024px) {

    #page-topics .item-inner,
    #page-users .item-inner {
        width: 25%
    }
}

.v-btn:before {
    background-color:currentColor;
    border-radius:inherit;
    bottom:0;
    color:inherit;
    content:"";
    left:0;
    opacity:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    transition:opacity .2s cubic-bezier(.4,0,.6,1)
}

.v-btn--absolute.v-btn--right,.v-btn--fixed.v-btn--right {
    right:16px
}
.v-btn--absolute.v-btn--left,.v-btn--fixed.v-btn--left {
    left:16px
}
.v-btn--absolute.v-btn--top,.v-btn--fixed.v-btn--top {
    top:16px
}
.v-btn--absolute.v-btn--bottom,.v-btn--fixed.v-btn--bottom {
    bottom:16px
}
.v-btn--absolute {
    position:absolute
}
.v-btn--fixed {
    position:fixed
}
.v-btn--block {
    display:flex;
    flex:1 0 auto;
    min-width:100%!important;
    max-width:none
}
.v-btn--is-elevated {
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}
.v-btn--is-elevated:after {
    box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}
.v-btn--is-elevated:active {
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.v-btn--is-elevated.v-btn--fab {
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)
}
.v-btn--is-elevated.v-btn--fab:after {
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.v-btn--is-elevated.v-btn--fab:active {
    box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)
}
.v-btn--disabled {
    pointer-events:none
}
.v-btn--fab,.v-btn--icon {
    min-height:0;
    min-width:0;
    padding:0
}
.v-btn--fab.v-size--x-small .v-icon,.v-btn--icon.v-size--x-small .v-icon {
    height:18px;
    font-size:18px;
    width:18px
}
.v-btn--fab.v-size--default .v-icon,.v-btn--fab.v-size--small .v-icon,.v-btn--icon.v-size--default .v-icon,.v-btn--icon.v-size--small .v-icon {
    height:24px;
    font-size:24px;
    width:24px
}
.v-btn--fab.v-size--large .v-icon,.v-btn--icon.v-size--large .v-icon {
    height:28px;
    font-size:28px;
    width:28px
}
.v-btn--fab.v-size--x-large .v-icon,.v-btn--icon.v-size--x-large .v-icon {
    height:32px;
    font-size:32px;
    width:32px
}
.v-btn--icon.v-size--x-small {
    height:20px;
    width:20px
}
.v-btn--icon.v-size--small {
    height:28px;
    width:28px
}
.v-btn--icon.v-size--default {
    height:36px;
    width:36px
}
.v-btn--icon.v-size--large {
    height:44px;
    width:44px
}
.v-btn--icon.v-size--x-large {
    height:52px;
    width:52px
}
.v-btn--fab.v-btn--absolute,.v-btn--fab.v-btn--fixed {
    z-index:4
}
.v-btn--fab.v-size--x-small {
    height:32px;
    width:32px
}
.v-btn--fab.v-size--x-small.v-btn--absolute.v-btn--bottom {
    bottom:-16px
}
.v-btn--fab.v-size--x-small.v-btn--absolute.v-btn--top {
    top:-16px
}
.v-btn--fab.v-size--small {
    height:40px;
    width:40px
}
.v-btn--fab.v-size--small.v-btn--absolute.v-btn--bottom {
    bottom:-20px
}
.v-btn--fab.v-size--small.v-btn--absolute.v-btn--top {
    top:-20px
}
.v-btn--fab.v-size--default {
    height:56px;
    width:56px
}
.v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom {
    bottom:-28px
}
.v-btn--fab.v-size--default.v-btn--absolute.v-btn--top {
    top:-28px
}
.v-btn--fab.v-size--large {
    height:64px;
    width:64px
}
.v-btn--fab.v-size--large.v-btn--absolute.v-btn--bottom {
    bottom:-32px
}
.v-btn--fab.v-size--large.v-btn--absolute.v-btn--top {
    top:-32px
}
.v-btn--fab.v-size--x-large {
    height:72px;
    width:72px
}
.v-btn--fab.v-size--x-large.v-btn--absolute.v-btn--bottom {
    bottom:-36px
}
.v-btn--fab.v-size--x-large.v-btn--absolute.v-btn--top {
    top:-36px
}
.v-btn--loading {
    pointer-events:none;
    transition:none
}
.v-btn--loading .v-btn__content {
    opacity:0
}
.v-btn--outlined {
    border:thin solid currentColor
}
.v-btn--plain:before {
    display:none
}
.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
    opacity:.62
}
.v-btn--round {
    border-radius:50%
}
.v-btn--rounded {
    border-radius:28px
}
.v-btn--tile {
    border-radius:0
}