.main1 {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1)
}

.main1:not([data-booted=true]) {
    transition: none !important
}

.main1__wrap {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative
}

.container {
	width: 100%;
	padding: 5px 15px 0 15px;
	margin-right: auto;
	margin-left: auto;
}

@media(min-width:960px) {
	.container {
		max-width: 900px;
	}
}

@media(min-width:1264px) {
	.container {
		max-width: 1185px;
		padding: 5px 35px 0 35px;
	}
}

@media(min-width:1904px) {
	.container {
		max-width: 1785px;
		padding: 5px 35px 0 35px;
	}
}

.container #Typewriter {
    color:var(--s-color-primary);
}